---
import BaseLayout from "../../layouts/BaseLayout.astro";

const modules = import.meta.glob("./*.md", { eager: true });
const posts = Object.values(modules);

posts.sort(
  (a, b) =>
    new Date((b as any).frontmatter.date).getTime() -
    new Date((a as any).frontmatter.date).getTime()
);

const title = "Blog";
const description =
  "A collection of insights and lessons learned from both personal projects and professional experience.";
---

<BaseLayout title={title} description={description}>
  <section>
    <h2>Blog</h2>
    <p>{description}</p>
    <p><a href="/rss.xml">RSS Feed</a></p>

    <hr />

    {posts.map((p) => (
      <article class="post-preview">
        <h3>
          <a href={(p as any).url}>{(p as any).frontmatter.title}</a>
        </h3>
        <h4>{(p as any).frontmatter.date}</h4>
        <hr />
      </article>
    ))}
  </section>
</BaseLayout>
