---
import BaseLayout from "../../layouts/BaseLayout.astro";

const modules = import.meta.glob("./*.md", { eager: true });
const readings = Object.values(modules);

readings.sort(
  (a, b) =>
    new Date((b as any).frontmatter.date).getTime() -
    new Date((a as any).frontmatter.date).getTime()
);

const title = "Readings";
const description = "Books and articles I particularly enjoyed.";
---

<BaseLayout title={title} description={description}>
  <section>
    <h2>Readings</h2>
    <p>{description}</p>

    <hr />

    {readings.length > 0 ? (
      readings.map((r) => (
        <article class="post-preview">
          <h3>
            <a href={(r as any).url}>{(r as any).frontmatter.title}</a>
          </h3>
          <h4>{(r as any).frontmatter.date}</h4>
          {(r as any).frontmatter.author && (
            <p>by {(r as any).frontmatter.author}</p>
          )}
          <hr />
        </article>
      ))
    ) : (
      <p>Check back soon for more.</p>
    )}
  </section>
</BaseLayout>
