<footer>
  <p>
    <a href="https://github.com/andrewpollack">GitHub</a> |
    <a href="https://www.linkedin.com/in/andrewpkq">LinkedIn</a> |
    <a href="https://bsky.app/profile/andrewpollack.dev">BlueSky</a>
  </p>
  <p class="commit">
    Site version <a href={`https://github.com/andrewpollack/site/commit/${__COMMIT_HASH__}`}>{__COMMIT_HASH__}</a>, <a href="https://github.com/andrewpollack/site">source code</a>
  </p>
</footer>
