---
import BaseLayout from "./BaseLayout.astro";

const { title = "Andrew Pollack-Gray", description } = Astro.props;

const pageDesc =
  description ??
  "Build systems, infrastructure, CI/CD, and developer productivity.";
---

<BaseLayout title={title} description={pageDesc} mainClass="resume">
  <section>
    <slot />
  </section>
</BaseLayout>
