body {
    font-family: Consolas, "Courier New", monospace;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #1fea00;
}

header {
    background-color: #1E1E1E;
    padding: 20px;
}

main {
    background-color: #1E1E1E;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #1fea00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #408a11;
    text-decoration: underline;
}
